{include file='../common/header.tpl'}
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Acceuil
            </h1>
        </div>
    </div>	
    <div class="row">
    	<div class="col-lg-12">
    	</div>
    </div>
{include file='../common/footer.tpl'}