{include file='./header.tpl'}
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Erreur !
            </h1>
        </div>
    </div>	
    <div class="row">
    	<div class="col-lg-12">
            <p>Vous n'avez pas les droits suffisant pour affiché cette page</p>
    	</div>
    </div>
{include file='./footer.tpl'}